@{ 
    ViewBag.Title = "修改密码";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Password" asp-controller="Account" method="post">
    <table class="detail-table">
        <tr>
            <td class="row-title">旧密码</td>
            <td>
                <input type="password" name="oldpwd" />
            </td>
        </tr>
        <tr>
            <td class="row-title">新密码</td>
            <td>
                <input type="password" name="newpwd" />
            </td>
        </tr>
        <tr>
            <td class="row-title">密码重复</td>
            <td>
                <input type="password" name="confirm" />
            </td>
        </tr>
    </table>
    <p><input class="btn" type="submit" value="修改密码" /></p>
</form>